@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'EB Garamond', serif;
    color: #3a3a3a;
    background-color: navajowhite;
}
/* Font and letter spacing for logo and headings and default coloring*/
h1, h2, h3, h4 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #252525;
    letter-spacing: 2px;
    text-transform: capitalize;
}

.container {
    background-color: #FFF7EB;
    width: 1200px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    border: solid 1px #1F3333;
}

/* Header including navbar and logo*/

header {
    color: #2F4F4F;
    background-color: #FFF7EB;
    position: fixed;
    height: 75px;
    width: 100%;
    top: 0px;
    left: 0px;
    z-index: 1;
    border-bottom: solid 1px #1F3333;
}

hr {
    padding-bottom: 20px;
    clear: both;
}

header > a {
    color: inherit;
}

.logo {
    float: left;
    font-size: 200%;
    color: inherit;
    margin-left: 40px;
}

.menu, .logo {
    line-height: 75px;
}

.menu {
    font-size:  120%;
    float: right;
    margin-right: 20px;
}

.menu li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    background-color: #F28F3B;
    padding: 0 10px;
}

.menu a:hover {
    background-color: #F28F3B;
    padding: 0 10px;
    size: 110%;
    color: #1F3333;
}

/* Hero image section */

    /* Set limits for section size */
.hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

.hero-image {
    /* To cover the whole section */
    height: 600px;
    width: 100%;

    background: url(../images/iateria-hero.jpg) no-repeat center center;
}

.cover-text { 
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: capitalize;
    width: 360px;
    height: 250px;
    background-color: #FFF7EB;
    color: #2F4F4F;
    /* Solution found on stack overflow, this centers the cover-text div on the x-axis*/
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 0);

    text-align: center;
    margin-top: 20px;
}
.cover-text h2, .cover-text h3 {
    margin-top: 20px;
    font-size: 200%;
}

.cover-text p {
    margin-top: 40px;
    font-family: 'EB Garamond', serif;
    font-size: 110%;
}

/* Main section of landing page */

.site-info {
    margin-top: 50px;
    font-size: 150%;
    padding: 0 20px;
}

.flex-container {
    /* From w3s tutorial */
    display: flex;
    justify-content: space-between;

    height: 600px;
    overflow: hidden;
}

.center-landing {
    max-width: 40%;
    height: 600px;
    text-align: justify;
    padding: 0 10px;
}

.left-landing {
    height: 450px;
    margin-top: 30px;
}
.left-landing img {
    height: inherit;
    width: inherit;
}

.right-landing {
    height: 450px;
    margin-top: 30px;
}
.right-landing img {
    height: inherit;
    width: inherit;
}

.center-landing > a {
    text-decoration: none;
    color: #252525;
}

.center-landing > a:hover {
    color: #2F4F4F;
}

a > h2 {
    color: inherit;
}

.center-landing h2 {
    margin-top: 30px;
}

/* Footer with links and copyright */

footer {
    color: #FFF7EB;
    background-color: #2F4F4F;
    font-size: 120%;
    width: 100%;
    height: 150px;
    clear: both;
    padding-top: 20px;
    position: relative;
}

.external-links {
    float: left;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

.copyright {
    position: absolute;
    right: 10px;
    bottom: 10px;
}

footer a{
    text-decoration: none;
    color: #FFF7EB;
    margin-top: 5px;
}

footer a:hover {
    color: #F28F3B;
}

/* Information pages, all shared styling*/

.sub-menu {
    float: left;
    margin-top: 75px;
    margin-left: 30px;
}

.back-to-top {
    position: fixed;
    bottom: 10px;
    right: 20px;
    background-color: #1F3333;
    padding: 5px;
}

.back-to-top a {
    text-decoration: none;
}

.back-to-top h4 {
    color: #FFF7EB;
}

.info-content {
    clear: both;
    margin: 40px;
}
.text-content {
    width: 50%;
    text-align: justify;
    font-size: 110%;
    float: left;
}

.text-content h2, .text-content h3 {
    padding: 20px 0;
}

.image-content {
    width: 40%;
    float: right;
    margin-top: 30px;
}

.image-content img {
    width: 100%;
    height: auto;
    margin-top: 20px;
}

/* Sign up form (adapted from CI love running project) */

.form-section {
    clear: left;
    background: url(../images/paper-background.jpg);
    background-size: cover;
    background-position: center;
    height: 750px;
    position: relative;
}

.signup-form {
    background-color: rgba(47, 79, 79, .4);
    
    position: absolute;
    left: 50%;
    top: 30%;
    transform: translate(-50%, 0);
    
    width: 350px;
    height: 300px;
    
    border: 1px solid #1F3333;
    border-radius: 5px;

    text-align: center;
}

.text-input {
    width: 90%;
    background: transparent;
    border: 2px solid #1F3333;
    margin-bottom: 20px;
}

.text-input:hover {
    border-color: #F28F3B;
}

.signup-form > h2, .signup-form > h4 {
    margin: 20px 0;
}

.signup-form > label {
    color: #FFF7EB;
}

.join-button {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: solid 2px #2F4F4F;
    background-color: #ceb189;
    color: #2F4F4F;
    font-weight: 600;
    
}

.join-button:hover {
    color: #ceb189;
    background-color: #2F4F4F;
}

/* Media quiries for responsive design */

@media screen and (min-width: 1201px){
    /* Hide hamburger menu */
    .burger-menu {
        display: none;
    }
}

    /* For screens of 1200px and down */
@media screen and (max-width: 1200px) {
    .menu {
        display: none;
    }

    .container {
        width: 800px;
    }

    .logo {
        font-size: 150%;
        line-height: 85px;
        margin-left: 20px;
    }

    .burger-menu-main {
        float: right;
        margin-right: 10px;
        display: flex;
        align-items: baseline;
        color: #2F4F4F;
    }

    .burger-menu-sub {
        float: left;
        margin-left: 30px;
        display: flex;
        align-items: baseline;
        color: #2F4F4F;
        margin-top: 75px;
    }

    /* Landing page main section */

    .flex-container {
        height: 1050px;
        display: block;
    }

    .left-landing {
        float: left;
        overflow: hidden;
        padding-left: 20px;
        width: 45%;
    }
    .right-landing {
        float: left;
        overflow: hidden;
        clear: left;
        width: 45%;
    }

    .left-landing img, .right-landing img {
        width: 100%;
        height: auto;
    }

    .center-landing h2 {
        padding-bottom: 75px;
    }

    .center-landing {
        float: right;
        width: 45%;
        height: 1050px;
        clear: right;
    }

    /* Code for collapsing hamburger menu, adapted from the works of Mark Caron */
    
    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        padding: 0;
        margin: -1px;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }
    /* Main menu part */
    .burger-menu-toggle {
        display: inline-block;
        padding: .75em 15px;
        line-height: 50px;
        font-size: 150%;
        color: #2F4F4F;
    }

    .burger-description-main, .burger-description-sub {
        color: inherit
    }

    .burger-menu-toggle:hover, .burger-menu-toggle:focus {
        color: #F28F3B;
    }

    .main-menu-burger {
        position: absolute;
        display: none;
        right: 10px;
        top: 0;
        height: 200px;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                    box-shadow 0.3s ease;
        z-index: 999;
    }

    .main-menu-burger ul{
        list-style: none;
        margin: 0;
        padding: 2.5em 0 0;
        /* Hide shadow w/ -8px while 'closed' */
        -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
                box-shadow: -8px 0 8px rgba(0,0,0,.5);
        min-height: 100%;
        width: 200px;
        background: #1F3333;
    }

    .main-menu-burger a {
        display: block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #FFF7EB;
        text-decoration: none;
    }

    .main-menu-burger li:first-child a {
        border-top: 1px solid #383838;
    }

    .main-menu-burger a:hover, .main-menu-burger a:focus {
        background: #2F4F4F;
    }

    .main-menu-burger .burger-menu-close {
        position: absolute;
        right: 0;
        top: 0;
      }
    

    .main-menu-burger:target, .main-menu-burger[aria-expanded="true"] {
        display: block;
        right: 10;
        top: 75px;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .main-menu-burger:target .burger-menu-close, .main-menu-burger[aria-expanded="true"] .burger-menu-close {
        z-index: 1001;
    }

    .main-menu-burger:target ul, .main-menu-burger[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }

    .main-menu-burger:target + .backdrop,
    .main-menu-burger[aria-expanded="true"] + .backdrop{
        position: absolute;
        display: block;  
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: #000;
        background: rgba(0,0,0,.85);
        cursor: default;
    }

    @supports (position: fixed) {
        .main-menu-burger,
        .main-menu-burger:target + .backdrop,
        .main-menu-burger[aria-expanded="true"] + .backdrop{
            position: fixed;
        }
    }

    /* Subsection menu part */

    .burger-sub-menu-toggle {
        display: inline-block;
        padding: .75em 15px;
        line-height: 50px;
        font-size: 150%;
        color: #2F4F4F;
    }

    .burger-sub-menu-toggle:hover, .burger-sub-menu-toggle:focus {
        color: #F28F3B;
    }

    .sub-menu-burger {
        position: absolute;
        display: none;
        left: 10px;
        top: 0;
        height: 200px;
        overflow-y: scroll;
        overflow-x: visible;
        transition: left 0.3s ease,
                    box-shadow 0.3s ease;
        z-index: 999;
    }

    .sub-menu-burger ul{
        list-style: none;
        margin: 0;
        padding: 2.5em 0 0;
        /* Hide shadow w/ -8px while 'closed' */
        -webkit-box-shadow: -8px 0 8px rgba(0,0,0,.5);
            -moz-box-shadow: -8px 0 8px rgba(0,0,0,.5);
                box-shadow: -8px 0 8px rgba(0,0,0,.5);
        min-height: 100%;
        width: 210px;
        background: #1F3333;
    }

    .sub-menu-burger a {
        display: block;
        padding: .75em 15px;
        line-height: 1em;
        font-size: 1em;
        color: #FFF7EB;
        text-decoration: none;
    }

    .sub-menu-burger li:first-child a {
        border-top: 1px solid #383838;
    }

    .sub-menu-burger a:hover, .sub-menu-burger a:focus {
        background: #2F4F4F;
    }

    .sub-menu-burger .burger-sub-menu-close {
        position: absolute;
        left: 160px;
        top: 0;
      }
    

    .sub-menu-burger:target, .sub-menu-burger[aria-expanded="true"] {
        display: block;
        left: 30px;
        top: 150px;
        outline: none;
        -moz-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        -webkit-box-shadow: 3px 0 12px rgba(0,0,0,.25);
        box-shadow: 3px 0 12px rgba(0,0,0,.25);
    }

    .sub-menu-burger:target .burger-sub-menu-close, .sub-menu-burger[aria-expanded="true"] .burger-sub-menu-close {
        z-index: 1001;
    }

    .sub-menu-burger:target ul, .sub-menu-burger[aria-expanded="true"] ul {
        position: relative;
        z-index: 1000;
    }

    .sub-menu-burger:target + .backdrop,
    .sub-menu-burger[aria-expanded="true"] + .backdrop{
        position: absolute;
        display: block;  
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 998;
        background: #000;
        background: rgba(0,0,0,.85);
        cursor: default;
    }

    @supports (position: fixed) {
        .sub-menu-burger,
        .sub-menu-burger:target + .backdrop,
        .sub-menu-burger[aria-expanded="true"] + .backdrop{
            position: fixed;
        }
    }
}

/* For screens sizes 800px and down */
@media screen and (max-width: 800px){
    /* Landing page */
    .right-landing {
        display: none;
    }
    
    .container{
        width: 360px;
    }

    .flex-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 1200px;
        justify-content: flex-start;
        background: url(../images/magic-scroll.png) no-repeat center center fixed;
    }

    .left-landing {
        max-width: 75%;
        min-width: 55%;
        height: 600px;
    }
    .center-landing {
        width: 90%;
        max-width: none;
    }
    .center-landing h2 {
        padding: 0;
    }

    /* Footer for small screens */

    footer {
        height: 150px;
    }

    .footer-info {
        display: none;
    }

    .external-links {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        justify-content: center;
        margin: 0;
    }

    .external-links a {
        padding: 0 10px;
    }

    /* Information pages */
    .text-content, .image-content {
        float: none;
        clear: both;
        width: 90%;
    }
}
