@import url('https://fonts.googleapis.com/css2?family=EB+Garamond&family=Nanum+Gothic&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: 'EB Garamond', serif;
    color: #3a3a3a;
    background-color: #FFF7EB;
}
/* Font and letter spacing for logo and headings and default coloring*/
h1, h2, h3, h4 {
    font-family: 'Nanum Gothic', sans-serif;
    color: #252525;
    letter-spacing: 2px;
}

/* Header including navbar and logo*/

header {
    color: #2F4F4F;
}

#logo {
    float: left;
    font-size: 200%;
    color: inherit;
    margin-left: 40px;
}

.menu, #logo {
    line-height: 75px;
}

.menu {
    font-size:  120%;
    float: right;
    margin-right: 20px;
}

.menu li {
    list-style: none;
    display: inline;
    margin-right: 20px;
}

.menu a {
    text-decoration: none;
    color: inherit;
}

.active {
    background-color: #F28F3B;
    padding: 0 10px;
}

.menu a:hover {
    background-color: #F28F3B;
    padding: 0 10px;
    size: 110%;
    color: #1F3333;
}

/* Hero image section */

    /* Set limits for section size */
#hero-outer {
    height: 600px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    /* To cover the whole section */
    height: 600px;
    width: 100%;

    background: url(../images/iateria-hero.jpg) no-repeat center center;
}

#cover-text { 
    font-family: 'Nanum Gothic', sans-serif;
    text-transform: capitalize;
    width: 360px;
    height: 250px;
    background-color: #FFF7EB;
    color: #2F4F4F;
    /* Solution found on stack overflow, this centers the cover-text div on the x-axis*/
    position: absolute;
    left: 50%;
    bottom: 20%;
    transform: translate(-50%, 0);

    text-align: center;
    margin-top: 20px;
}
#cover-text h2, #cover-text h3 {
    margin-top: 20px;
    font-size: 200%;
}

#cover-text p {
    margin-top: 40px;
    font-family: 'EB Garamond', serif;
    font-size: 110%;
}

/* Main section of landing page */

#site-info {
    margin-top: 50px;
    font-size: 150%;
}

.flex-container {
    /* From w3s tutorial */
    display: flex;
    justify-content: space-between;

    height: 450px;
}

#center-landing {
    max-width: 40%;
    height: 450px;
    text-align: justify;
    margin-top: 30px;
}

#left-landing {
    height: 450px;
    margin-top: 30px;
}
#right-landing {
    height: 450px;
    margin-top: 30px;
}

#center-landing > a {
    text-decoration: none;
}

#center-landing h2 {
    margin-top: 30px;
}

/* Footer with links and copyright */

footer {
    color: #FFF7EB;
    background-color: #2F4F4F;
    font-size: 120%;
    width: 100%;
    height: 150px;
}

#external-links {
    float: left;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    margin-left: 30px;
}

#copyright {
    float: right;
    margin-right: 20px;
    margin-top: 50px;
}

footer a{
    text-decoration: none;
    color: #FFF7EB;
    margin-top: 5px;
}

footer a:hover {
    color: #F28F3B;
}
